body{
    padding: 40px;
    background: url("../../assetes/svg/spectrum-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    

}
.list{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* gap: 25px; */
    /* cursor:pointer; */
/* } */ 

hr{
    border: 2px solid black;
}
.col-7{
    color: #fff;
    font-size: 1.5rem;
}

.col-5{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;;

}

.list-group-item{
    background: transparent;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
p{
    margin: 0;
    cursor: pointer;
}

.complete{
    text-decoration: line-through;
}

.p{
    border: 0.2rem solid rgb(36, 2, 2);
}
